:root {
  --color-primary-gradient: linear-gradient(to right, #33d35e, #2ab6d9);
  --color-primary: #30c88f;
  --color-headings: #2d314d;
  --color-body: #9597a5;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Typography */
html {
  /* 62.5% is 10px */
  font-size: 62.5%;
  line-height: 1.5;
}

body {
  font-family: "Public Sans", Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4 {
  color: var(--color-headings);
}

h2,
h3,
h4 {
  font-weight: 400;
}

h2 {
  font-size: 3.2rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.6rem;
  margin: 0.5rem 0;
}

address {
  font-size: 1rem;
  font-style: normal;
}
.paragraph__header,
.paragraph__feature {
  color: var(--color-body);
  font-size: 1.5rem;
  font-weight: 400;
}

.paragraph__article {
  color: var(--color-body);
  font-size: 1.3rem;
  margin: 0.5rem 0;
}
@media screen and (min-width: 768px) {
  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 2.4rem;
  }

  .paragraph__header {
    font-size: 1.8rem;
  }

  .paragraph__feature {
    font-size: 1.6rem;
  }
}

/* Links */
a {
  text-decoration: none;
  color: inherit;
  transition: color 0.5s ease-in;
}

a:hover {
  color: var(--color-primary);
}

/* Buttons */
.btn {
  height: 4.4rem;
  width: 16.3rem;
  cursor: pointer;
}

.btn--primary-gradient {
  border: 0;
  border-radius: 25px;
  font-size: 1.6rem;
  font-weight: 600;
  color: #fff;
  background: var(--color-primary-gradient);
  white-space: nowrap;
  text-align: center;
  transition: opacity 0.5s ease-in;
}

.btn--primary-gradient:hover {
  opacity: 0.5;
}

/* Icons */
.icon-container {
  background: var(--color-primary-gradient);
  width: 72px;
  height: 72px;
  border-radius: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 72px;
  height: 72px;
}

.icon--primary {
  fill: #fff;
}

/* Images */
.images__article {
  max-width: 32.7rem;
  width: 100%;
  height: 20rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover;
}

/* Lists */
.list {
  list-style: none;
  padding-left: 0;
}

/* Navigation Bar */

@media screen and (min-width: 768px) {
  .nav {
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    max-width: 1090px;
  }
}
.nav__item {
  display: inline-block;
  position: relative;
  padding: 2rem;
  font-size: 1.4rem;
  color: var(--color-body);
}

.nav__item > a:hover {
  color: #2d314d;
}

.nav__item > a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 4px;
  background: var(--color-primary-gradient);
  transition: width 0.5s ease-in;
}

.nav__item > a:hover::after {
  width: 100%;
}

/* Cards */
.card__feature {
  padding-bottom: 5rem;
  text-align: center;
  margin: 0 2.4rem;
}

@media screen and (min-width: 768px) {
  .card__feature {
    text-align: left;
  }
}

.card__article {
  width: 32.7rem;
  height: auto;
}

.card__article--skin {
  background: #fff;
  border-radius: 10px;
}

.card__article__body {
  padding: 2.5rem;
  width: auto;
}
@media screen and (max-width: 330px) {
  .card__article {
    width: 25rem;
  }
}

@media screen and (min-width: 1124px) {
  .card__article {
    width: 25.5rem;
  }
}

/* Headers */
.feature__header {
  padding-top: 5rem;
  padding-bottom: 3rem;
  text-align: center;
  margin: 0 2.4rem;
}

.article__header {
  padding-top: 6rem;
  text-align: center;
  margin: 0 2.4rem;
}

@media screen and (min-width: 1124px) {
  .feature__header,
  .article__header {
    text-align: left;
    max-width: 1110px;
    margin: auto;
  }
}

/* Grids */
.grid {
  display: grid;
  margin: auto;
  justify-items: center;
  row-gap: 2.5rem;
}

@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
    max-width: 700px;
  }
}

@media screen and (min-width: 1124px) {
  .grid--1x3 {
    grid-template-columns: repeat(4, 1fr);
    max-width: 1110px;
  }
}

/* Blocks*/
.feature {
  background: #f4f5f7;
}

.article__block {
  background: #fafafa;
  padding-bottom: 7rem;
}
