:root {
  --background-color-primary: #fafafa;
  --backround-color-secondary: #f4f4f4;
  --color-body: #9597a5;
  --color-headings: #2d314d;
  --color-primary-gradient: linear-gradient(to right, #33d35e, #2ab6d9);
  --color-primary: #30c88f;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Typography */
html {
  /* 62.5% is 10px */
  font-size: 62.5%;
  line-height: 1.5;
}

body {
  font-family: "Public Sans", Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4 {
  color: var(--color-headings);
}

h1,
h2 {
  line-height: 1.2;
  margin-bottom: 1rem;
}

h2,
h3,
h4 {
  font-weight: 400;
}

h1 {
  font-size: 4rem;
  font-weight: 300;
}
h2 {
  font-size: 3.2rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.6rem;
  margin: 0.5rem 0;
}

address {
  font-size: 1rem;
  font-style: normal;
}
.paragraph__header,
.paragraph__feature {
  color: var(--color-body);
  font-size: 1.5rem;
  font-weight: 400;
}

.paragraph__article {
  color: var(--color-body);
  font-size: 1.3rem;
  margin: 0.5rem 0;
}

.paragraph__header {
  margin-bottom: 3.5rem;
}
.footer__item,
.paragraph__footer {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 400;
}

.paragraph__footer {
  opacity: 0.5;
  margin-bottom: 4rem;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 5.6rem;
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 2.4rem;
  }

  .paragraph__header {
    font-size: 1.8rem;
  }

  .paragraph__feature {
    font-size: 1.6rem;
  }
}

/* Links */
a {
  color: inherit;
  text-decoration: none;
  transition: color 0.5s ease-in;
}

a:hover {
  color: var(--color-primary);
}

/* Buttons */
.btn {
  cursor: pointer;
}

.btn--primary-gradient {
  background: var(--color-primary-gradient);
  border-radius: 25px;
  border: 0;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 500;
  height: 4.4rem;
  letter-spacing: 0.5px;
  text-align: center;
  transition: opacity 0.5s ease-in;
  white-space: nowrap;
  width: 16.3rem;
}

.btn--primary-gradient:hover {
  opacity: 0.5;
}

.btn--nav {
  display: none;
}

.btn__footer {
  margin-top: 0;
  padding-left: 2.5rem;
}

.btn__modal--open,
.btn__modal--close {
  background: none;
  border: 0;
}

.btn__modal--close > img,
.btn__modal--open > img {
  height: 15px;
  transition: height 0.75s ease-in;
}

.btn__modal--close > img:hover,
.btn__modal--open > img:hover {
  height: 25px;
}

@media screen and (min-width: 1124px) {
  .btn__modal--open > img,
  .btn__modal--close > img {
    display: none;
  }

  .btn--primary-gradient.btn--nav {
    display: inline;
    margin-right: 25px;
    margin-top: -10px;
  }
}

/* Icons */
.icon-container {
  align-items: center;
  background: var(--color-primary-gradient);
  border-radius: 100%;
  display: inline-flex;
  height: 72px;
  justify-content: center;
  width: 72px;
}

.easybank-icon {
  width: 13.9rem;
  height: 2rem;
}

.modal-icon--open,
.modal-icon--close {
  transform: translate(0, -20px);
}

/* Images */
.images__article {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 20rem;
  max-width: 32.7rem;
  object-fit: cover;
  width: 100%;
}

/* Lists */
.list {
  list-style: none;
  padding-left: 0;
}

/* Modal for Navigation Menu */
.modal {
  background: rgba(149, 151, 165, 0.75);
  display: none;
  height: 100%;
  left: 0;
  margin-top: 4rem;
  position: fixed;
  width: 100%;
  z-index: 5;
}

.modal__content {
  background: #fff;
  border-radius: 5px;
  height: 26.5rem;
  margin: 2rem auto;
  padding-top: 0.5rem;
  text-align: center;
  width: 32.7rem;
}

.modal__content,
#openModalImage {
  animation-duration: 1s;
  animation-name: modal-open;
}

#openModalImage {
  align-self: flex-end;
  display: inline-flex;
}

#closeModalImage {
  align-self: flex-end;
  display: none;
}

@keyframes modal-open {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (min-width: 1124px) {
  .modal {
    background: none;
    display: inline;
    margin: 0;
    pointer-events: none;
  }

  .modal__content {
    height: 6rem;
    margin: auto;
    transform: translate(0, -20px);
    width: 50rem;
  }
}

/* Navigation Bar */
.nav {
  background: #fff;
  display: flex;
  height: 80px;
  justify-content: space-between;
  margin: auto;
  max-width: 1123px;
  padding-top: 8rem;
  padding: 20px;
  position: fixed;
  width: 100%;
}

.nav__item {
  color: var(--color-headings);
  font-size: 1.8rem;
  padding: 1rem;
  position: relative;
  transition: color 0.5s ease-in;
  width: 100%;
}

.nav__item > a:hover {
  color: var(--color-primary);
}

.nav__item > a::after {
  background: var(--color-primary-gradient);
  bottom: 0;
  content: "";
  height: 4px;
  left: 40%;
  position: absolute;
  transition: width 0.5s ease-in;
  width: 0%;
}

.nav__item > a:hover::after {
  width: 20%;
}

@media screen and (min-width: 1124px) {
  .nav-container {
    align-items: center;
    background: #fff;
    display: flex;
    height: 80px;
    justify-content: center;
    position: fixed;
    width: 100%;
  }

  .nav {
    height: 7rem;
    max-width: 1124px;
  }

  .nav__item {
    display: inline;
    pointer-events: visible;
  }

  .nav__item > a::after {
    left: 0;
  }

  .nav__item > a:hover::after {
    width: 100%;
  }
}

/* Hero */
.hero__content-container {
  background-color: var(--background-color-primary);
}

.hero__image {
  background-image: url("/images/bg-intro-mobile.svg");
  background-position: top -60px right;
  background-repeat: no-repeat;
  background-size: contain;
  margin: auto;
  max-width: 1440px;
}

.image-mockup {
  margin-top: -10px;
  object-position: center -125px;
  width: 100%;
}

.hero__content {
  margin-top: -12rem;
  margin: auto;
  padding-bottom: 8rem;
  text-align: center;
  width: 32.7rem;
}

@media screen and (max-width: 330px) {
  .hero__content {
    width: 25rem;
  }
}

@media screen and (min-width: 600px) {
  .hero__content {
    width: 50rem;
  }

  .image-mockup {
    margin-top: -150px;
  }
}

@media screen and (min-width: 768px) {
  .hero__content-container {
    height: 60rem;
  }

  .hero__image {
    background-image: url("/images/bg-intro-desktop.svg");
    background-position: top -250px right -325px;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row-reverse;
    height: 92rem;
    justify-content: space-between;
    margin: auto;
    max-width: 1400px;
  }

  .image-mockup {
    margin-right: -280px;
    margin-top: 0;
    object-fit: contain;
    width: 75%;
  }

  .hero__content {
    margin-top: 100px;
    text-align: left;
    width: 44.7rem;
  }
}

/* Cards */
.card__feature {
  padding-bottom: 5rem;
  text-align: center;
  width: 25rem;
}

@media screen and (min-width: 768px) {
  .card__feature {
    text-align: left;
  }
}

.card__article {
  background: #fff;
  border-radius: 10px;
  height: auto;
  width: 32.7rem;
}

.card__article__body {
  margin-bottom: 1.5rem;
  padding: 2.5rem;
  width: auto;
}

@media screen and (max-width: 330px) {
  .card__article {
    width: 25rem;
  }
}

@media screen and (min-width: 1124px) {
  .card__article {
    width: 25.5rem;
  }
}

/* Headers */
.feature__header {
  margin: auto;
  max-width: 480px;
  padding: 5rem 2rem;
  text-align: center;
}

.article__header {
  margin: 0 2.4rem;
  padding-bottom: 2rem;
  padding-top: 6rem;
  text-align: center;
}

@media screen and (min-width: 1124px) {
  .feature__header,
  .article__header {
    margin: auto;
    max-width: 1110px;
    padding-left: 10px;
    text-align: left;
  }

  .feature__header {
    padding-right: 450px;
  }
}

/* Grids */
.grid {
  display: grid;
  justify-items: center;
  margin: auto;
  row-gap: 2.5rem;
}

@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
    max-width: 700px;
  }
}

@media screen and (min-width: 1124px) {
  .grid--1x4 {
    grid-template-columns: repeat(4, 1fr);
    max-width: 1110px;
  }
}

@media screen and (min-width: 1124px) {
  .grid--2x1__nav {
    grid-template-columns: 4fr 6fr;
  }
}

/* Blocks or Sections*/
.feature {
  background: var(--backround-color-secondary);
}

.article__block {
  background: var(--background-color-primary);
  padding-bottom: 7rem;
}

/* Footer */
.footer {
  background: var(--color-headings);
  padding-top: 1rem;
}

.footer__list {
  text-align: center;
}

.footer__item {
  margin: 1rem;
}

.footer__logo {
  margin-top: 3rem;
}

@media screen and (min-width: 768px) {
  .flex__footer {
    display: flex;
    flex-direction: column;
    max-width: 680px;
  }

  .footer__list {
    align-self: flex-end;
    margin-top: -11rem;
    text-align: right;
  }

  .btn__footer {
    margin-bottom: -2rem;
    margin-top: -12rem;
  }
}

@media screen and (min-width: 1124px) {
  .flex__footer {
    max-width: 1110px;
  }

  .footer__list {
    align-self: center;
    columns: 20rem 2;
    text-align: left;
  }

  .btn__footer,
  .paragraph__footer {
    align-self: flex-end;
  }

  .btn__footer {
    padding-right: 2rem;
  }

  .footer__item--first {
    margin-top: -1rem;
  }

  .footer__icons {
    margin-top: 2rem;
  }
}
