<article class="card__article card__article--skin">
  <picture>
    <source type="image/webp" srcset="/images/image-currency.webp" />
    <source type="image/jpg" srcset="/images/image-currency.jpg" />
    <img
      class="images__article"
      src="/images/image-currency.jpg"
      alt="A pile of currency from various countries."
    />
  </picture>
  <div class="card__article__body">
    <address rel="author">By Claire Robinson</address>
    <h4>Receive money in any currency with no fees</h4>
    <p class="paragraph__article">
      The world is getting smaller and we’re becoming more mobile. So why should
      you be forced to only receive money in a single …
    </p>
  </div>
</article>
