<footer class="grid grid--1x2 grid--1x3 footer">
  <svg class="icon icon--white">
    <use href="/images/logo.svg"></use>
  </svg>
  <ul class="list footer__list">
    <li class="footer__item"><a href="#">About Us</a></li>
    <li class="footer__item"><a href="#">Contact</a></li>
    <li class="footer__item"><a href="#">Blog</a></li>
    <li class="footer__item"><a href="#">Careers</a></li>
    <li class="footer__item"><a href="#">Support</a></li>
    <li class="footer__item"><a href="#">Privacy Policy</a></li>
  </ul>
  <button type="button" class="btn btn--primary-gradient">
    Request Invite
  </button>
  <p class="paragraph__footer">&copy; Easybank. All Rights Reserved</p>
</footer>
